.main__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin: 43px auto 39px;
    text-align: center;
    color: #4A4A4A;
}