<div class="container">
    <div class="footer__law">@Copyright 2016-2021 Some Product Site </div>
    <div class="footer__logo-seaction">
        <div class="footer__logo">
            <svg width="56" height="38" viewBox="0 0 56 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.1817 34.297C12.3417 34.297 10.6884 33.977 9.22172 33.337C7.78172 32.6703 6.64839 31.7636 5.82172 30.617C4.99505 29.4436 4.56839 28.097 4.54172 26.577H8.42172C8.55505 27.8836 9.08839 28.9903 10.0217 29.897C10.9817 30.777 12.3684 31.217 14.1817 31.217C15.9151 31.217 17.2751 30.7903 18.2617 29.937C19.2751 29.057 19.7817 27.937 19.7817 26.577C19.7817 25.5103 19.4884 24.6436 18.9017 23.977C18.3151 23.3103 17.5817 22.8036 16.7017 22.457C15.8217 22.1103 14.6351 21.737 13.1417 21.337C11.3017 20.857 9.82172 20.377 8.70172 19.897C7.60839 19.417 6.66172 18.6703 5.86172 17.657C5.08839 16.617 4.70172 15.2303 4.70172 13.497C4.70172 11.977 5.08839 10.6303 5.86172 9.45697C6.63505 8.28363 7.71505 7.37697 9.10172 6.73697C10.5151 6.09697 12.1284 5.77697 13.9417 5.77697C16.5551 5.77697 18.6884 6.4303 20.3417 7.73697C22.0217 9.04363 22.9684 10.777 23.1817 12.937H19.1817C19.0484 11.8703 18.4884 10.937 17.5017 10.137C16.5151 9.3103 15.2084 8.89697 13.5817 8.89697C12.0617 8.89697 10.8217 9.29697 9.86172 10.097C8.90172 10.8703 8.42172 11.9636 8.42172 13.377C8.42172 14.3903 8.70172 15.217 9.26172 15.857C9.84839 16.497 10.5551 16.9903 11.3817 17.337C12.2351 17.657 13.4217 18.0303 14.9417 18.457C16.7817 18.9636 18.2617 19.4703 19.3817 19.977C20.5017 20.457 21.4617 21.217 22.2617 22.257C23.0617 23.2703 23.4617 24.657 23.4617 26.417C23.4617 27.777 23.1017 29.057 22.3817 30.257C21.6617 31.457 20.5951 32.4303 19.1817 33.177C17.7684 33.9236 16.1017 34.297 14.1817 34.297Z" fill="#DB7093"/>
            <path d="M39.138 14.28C39.138 16.6 38.338 18.5333 36.738 20.08C35.1646 21.6 32.7513 22.36 29.498 22.36H24.138V34H20.498V6.12H29.498C32.6446 6.12 35.0313 6.88 36.658 8.4C38.3113 9.92 39.138 11.88 39.138 14.28ZM29.498 19.36C31.5246 19.36 33.018 18.92 33.978 18.04C34.938 17.16 35.418 15.9067 35.418 14.28C35.418 10.84 33.4446 9.12 29.498 9.12H24.138V19.36H29.498Z" fill="#DB7093"/>
            <path d="M42.1363 35.21C40.7563 35.21 39.5163 34.97 38.4163 34.49C37.3363 33.99 36.4863 33.31 35.8663 32.45C35.2463 31.57 34.9263 30.56 34.9063 29.42H37.8163C37.9163 30.4 38.3163 31.23 39.0163 31.91C39.7363 32.57 40.7763 32.9 42.1363 32.9C43.4363 32.9 44.4563 32.58 45.1963 31.94C45.9563 31.28 46.3363 30.44 46.3363 29.42C46.3363 28.62 46.1163 27.97 45.6763 27.47C45.2363 26.97 44.6863 26.59 44.0263 26.33C43.3663 26.07 42.4763 25.79 41.3563 25.49C39.9763 25.13 38.8663 24.77 38.0263 24.41C37.2063 24.05 36.4963 23.49 35.8963 22.73C35.3163 21.95 35.0263 20.91 35.0263 19.61C35.0263 18.47 35.3163 17.46 35.8963 16.58C36.4763 15.7 37.2863 15.02 38.3263 14.54C39.3863 14.06 40.5963 13.82 41.9563 13.82C43.9163 13.82 45.5163 14.31 46.7563 15.29C48.0163 16.27 48.7263 17.57 48.8863 19.19H45.8863C45.7863 18.39 45.3663 17.69 44.6263 17.09C43.8863 16.47 42.9063 16.16 41.6863 16.16C40.5463 16.16 39.6163 16.46 38.8963 17.06C38.1763 17.64 37.8163 18.46 37.8163 19.52C37.8163 20.28 38.0263 20.9 38.4463 21.38C38.8863 21.86 39.4163 22.23 40.0363 22.49C40.6763 22.73 41.5663 23.01 42.7063 23.33C44.0863 23.71 45.1963 24.09 46.0363 24.47C46.8763 24.83 47.5963 25.4 48.1963 26.18C48.7963 26.94 49.0963 27.98 49.0963 29.3C49.0963 30.32 48.8263 31.28 48.2863 32.18C47.7463 33.08 46.9463 33.81 45.8863 34.37C44.8263 34.93 43.5763 35.21 42.1363 35.21Z" fill="#DB7093"/>
            <rect x="5" y="35" width="46" height="3" rx="1.5" fill="#DB7093" fill-opacity="0.5"/>
            </svg>
        </div>
        {% include '@components/button.html.twig' with {
        text: 'View more products',
        class: 'product__price',
        } %}
    </div>

    {% include '@components/navigation.html.twig' with {
            links: [
            { title: 'Home', href: '/', active: true },
            { title: 'About', href: '/about' },
            { title: 'Contact', href: '/contact-us' },
            { title: 'Products', href: '/products' },
        ]
    } %}
</div>